.list-item {
    display: flex;
}

.list-item i {
    font-size: 17px;
    color: red;
    height: 20px;
    display: inline-block;
    width: 20px;
}

.list-item__delete {
    background: transparent;
    border: 0;
    color: #fff;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #fff;
    max-width: 25px;
    flex: 0 0 25px;
}

.list-item__delete img {
    max-width: 14px;
}

.list-item__title {
    font-weight: 500;
    flex: 1 1 auto;
}

.list-item__total,
.list-item__calc {
    border-left: 1px solid #fff;
    padding-left: 10px;
    margin-left: 10px;
    max-width: 110px;
    flex: 0 0 105px;
    text-align: right;
}

.list-item__calc {
    text-align: center;
}